<div class="sentiments row">
    <h5>Sentiments (1,2344,6000)</h5>

    <div class="sent col-sm-12">
        <div class="cover row">
            <div class="rounded-circle col-xs-1">
            <img class="icon img-thumbnail rounded" src="./assets/images/shoe.png">
            </div>
            <div class="cont col-xs-11">
                hkjhkhksuiurijisjldkjlksfjldhflsjdhf
                asdhsgjhksdghgskjhgdkjhfjdkhks
                jkhskjdkfajdkjfjkahjdfhkjahldhfhdhsgjhdgjshdj
                arhhkuyaueryuakufhkjahkjfhkjhkjhdkjhfsdfs
                <br>
                <span class="glyphicon glyphicon-heart" style="color: #f75e5e; padding-top: 10px;"> </span>  2384
            </div>
        </div>
        <div class="cover row">
                <div class="rounded-circle col-xs-1">
                <img class="icon img-thumbnail rounded" src="./assets/images/shoe.png">
                </div>
                <div class="cont col-xs-11">
                    hkjhkhksuiurijisjldkjlksfjldhflsjdhf
                    asdhsgjhksdghgskjhgdkjhfjdkhks
                    jkhskjdkfajdkjfjkahjdfhkjahldhfhdhsgjhdgjshdj
                    arhhkuyaueryuakufhkjahkjfhkjhkjhdkjhfsdfs
                    <br>
                    <span class="glyphicon glyphicon-heart" style="color: #f75e5e; padding-top: 10px;"> </span>  2384
                </div>
            </div><div class="cover row">
                    <div class="rounded-circle col-xs-1">
                    <img class="icon img-thumbnail rounded" src="./assets/images/shoe.png">
                    </div>
                    <div class="cont col-xs-11">
                        hkjhkhksuiurijisjldkjlksfjldhflsjdhf
                        asdhsgjhksdghgskjhgdkjhfjdkhks
                        jkhskjdkfajdkjfjkahjdfhkjahldhfhdhsgjhdgjshdj
                        arhhkuyaueryuakufhkjahkjfhkjhkjhdkjhfsdfs
                        <br>
                        <span class="glyphicon glyphicon-heart" style="color: #f75e5e; padding-top: 10px;"> </span>  2384
                    </div>
                </div>
                <div class="cover row">
                        <div class="rounded-circle col-xs-1">
                        <img class="icon img-thumbnail rounded" src="./assets/images/shoe.png">
                        </div>
                        <div class="cont col-xs-11">
                            hkjhkhksuiurijisjldkjlksfjldhflsjdhf
                            asdhsgjhksdghgskjhgdkjhfjdkhks
                            jkhskjdkfajdkjfjkahjdfhkjahldhfhdhsgjhdgjshdj
                            arhhkuyaueryuakufhkjahkjfhkjhkjhdkjhfsdfs
                            <br>
                            <span class="glyphicon glyphicon-heart" style="color: #f75e5e; padding-top: 10px;"> </span>  2384
                        </div>
                    </div>
                    
    </div>
    <!-- <div class="col-sm-5">
        Hi
    </div> -->
</div>