<!-- Side navigation -->
<div class="sidenav">
    <img class="img" src="./assets/images/group-10@3x.png"/>
    <img class="shoe" src="./assets/images/shoe.png"/>

    <div class="content row">
        <div class="col-sm-6" style="margin-top: 0.15%;">
            <h5 class="content1">I am here</h5>
            <h4 class="boldcompo">Hello1</h4>
            <div class="content2">Channels</div>
            <div class="content2">status :</div>
            <div class="content2">Clicks :</div>
            <div class="content2">Clicks :</div>
            <div class="content2">Clicks :</div>
        </div>
        <div class="boldcompo col-sm-6">
                <h5 class="content1">I am here</h5>
                <h4 class="boldcompo">Hello1</h4>
                <div class="content3">Channels</div>
                <div class="content3">Active :</div>
                <div class="content3">23213 :</div>
                <div class="content3">Clicks :</div>
                <div class="content3">Clicks :</div>
        </div>
       

    </div>
  </div>
  
  <!-- Page content -->
  <div class="main">
    ...
  </div>