<!-- <nav class="navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color: grey;">CampaignManagement</a>
          </div> -->
          <!-- <ul class="nav navbar-nav">
            <li class="active"><a href="#" style="color: grey;">shoes</a></li>
          </ul>
          <input type="text" class="right" placeholder="search"/>
          <ul class="nav navbar-nav navbar-right">
            
            <li><a href="#"><span class="glyphicon glyphicon-user" style="color: grey;"></span> Accounts</a></li>
            <li><a href="#"><span style="color: grey !important;"></span> Nike $24 </a></li>
          </ul>
        </div>
      </nav> -->
    

<nav class="navigation navbar">
    <div class="up container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style="color: grey;">CampaignManagement</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#" style="color: grey;">shoes</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user" style="color: grey;"></span> Accounts</a></li>
        <li><a href="#"><span style="color: grey !important;"></span> Nike $24 </a></li>
      </ul>
    </div>
  </nav>

  <span class="glyphicon glyphicon-home" style="position: absolute; float:left; top:40%;"></span>
  <span class="glyphicon glyphicon-home" style="position: absolute; float:left; top:43%;"></span>
  <span class="glyphicon glyphicon-home" style="position: absolute; float:left; top:47%;"></span>
  <span class="glyphicon glyphicon-home" style="position: absolute; float:left; top:50%;"></span>
  